:root {
    --green: #008000;
    --beige: #faf1ed;
    --medium-green: #058171;
    --max-size-blocks: 700px; 
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trip Sans";
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 100%;
    margin: auto;
    padding: 2%;
}

@media (max-width: 768px) {
    .container {
        padding: 1%;
    }
}

.black {
    color: black;
}

.hide {
    display: none !important;
}

img {
    height: auto;
    width: 100%;
    object-fit: cover;
}

a {
    color: black;
    text-decoration: none;
}

p, h1, h2, h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-bottom: 2%;
}

h1 {
    font-family: "Trip Sans Bold";
    font-weight: bold;
    font-size: 3.2em;  // ??em????
}

h2 {
    font-family: "Trip Sans Bold";
    font-weight: bold;
    font-size: 2.4em;
}

h3 {
    font-size: 2em;
    font-family: "Trip Sans Bold";
}

@media (max-width: 768px) {
    h1 { font-size: 2.8em; }
    h2 { font-size: 2.2em; }
    h3 { font-size: 1.8em; }
}

section a:not(.btn):not(.plain):hover {
    text-decoration: underline;
}

.link.blackbutton1 {
    background: #56B6FF;
    padding: 1.5%;
    color: white;
    font-size: 1.8em;
    line-height: 160%;
    min-width: 4%;
    display: inline-block;
    height: 5.5em;
    border-radius: 20px;
    transition: background-color 0.1s linear, border-color 0.1s linear;
}

.link.blackbutton1:hover {
    background: #1E4980;
}

.link.blackbutton {
    background: black;
    padding: 1.5%;
    color: white;
    font-size: 1.8em;
    line-height: 160%;
    min-width: 4%;
    display: inline-block;
    height: 2.7em;
    border-radius: 20px;
    transition: background-color 0.1s linear, border-color 0.1s linear;
}

.link.blackbutton:hover {
    background: #333333;
}

section + section {
    margin-top: 5%;
}

.card img:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s linear;
}

a.location {
    font-size: 1.4em;
    display: flex;
    justify-content: flex-end;
}

.fullwidth {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

header {
    position: fixed;
    top: 2%;
    left: 0;
    right: 0;
    background: white;
    z-index: 9;
}

header nav {
    display: flex;
    height: 6em;
}

@media (max-width: 768px) {
    header nav {
        flex-direction: column;
    }
}

header #menu {
    display: none;
}

header #logo {
    align-self: center;
    margin-right: auto;
}

header #logo img {
    display: block;
    height: auto;
    width: 25em; 
}

header .link:hover {
    background: #f2f2f2;
}

header .link + .link {
    margin-left: 1%;
}

header .link .icon,
header .link .fas,
header .link .fa {
    margin-right: 0.3em;
}

main {
    margin-top: 6em;
}

@media (max-width: 768px) {
    main {
        margin-top: 2em;
    }
}

h1.title {
    font-size: 5.4em;
    line-height: 120%;
    color: #6af1a1;
    margin-bottom: 2%;
}

@media (max-width: 768px) {
    h1.title {
        font-size: 4.2em;
    }
}

main .title span {
    font-weight: 900;
}

#activities {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 15px;
    width: 100%;
    margin: 0 auto 30px;
}

@media (max-width: 768px) {
    #activities {
        grid-template-columns: 1fr; /* Stack grid items on small screens */
    }
}

#activities .activity {
    font-size: 24px;
    font-weight: bold;
    height: 120px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#activities .activity:hover {
    background: black;
    color: white;
}

#activities a.scroll {
    display: none;
}

footer {
    background: var(--beige);
    padding: 30px;
    text-align: center;
}

footer #contact {
    display: block;
    margin-bottom: 15px;
}

footer a:hover {
    text-decoration: underline;
}
